h1 {
  color: white;
  text-align: center;
}

.S {
  color: whitesmoke;
}

p.sa {
  font-size: 200%;


}

.credit {
  backdrop-filter: blur(100px);
  width: 400px;
  height: auto;
  position: relative;
  margin:0 auto;
  border-radius: 20px;
  text-align: center;
}

p.answer {
  color: black;
  background-color: transparent;
  backdrop-filter: blur(13px);
  border-radius: 5px;

}

label {

  color: ghostwhite;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.textIN {
  background-color: transparent;
  backdrop-filter: blur(13px);
  border-radius: 5px;
  color: ghostwhite;
}

textarea {
  resize: none;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(13px);
  color: ghostwhite;
}

.B1 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .B1 {
    padding: 19px 32px;
  }
}

.B1:before,
.B1:after {
  border-radius: 80px;
}

.B1:before {
  background-color: #747474ce;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.B1:after {
  background-color:#ffffff11;
  background-image: none;
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.B1:hover:not(:disabled):before {
  background: linear-gradient(rgba(0, 0, 0, 0.452) 0%, rgb(0, 0, 0,452) 100%);
}

.B1:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.B1:active:not(:disabled) {
  color: rgb(255, 255, 255);
}

.B1:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ffffff 0, #ffffff 100%);
}

.B1:active:not(:disabled):after {
  background-image: linear-gradient(#ffffff 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.B1:disabled {
  cursor: default;
  opacity: .24;
}

body {
  font-family: sans-serif;
  font-size: 100% ;
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-size: cover;
  display: block;

}

form.wrap {
  backdrop-filter: blur=20px;
  border-radius: 20px;
  width: 500px;
  height: 250px;
  margin:0 auto;
  background-color: transparent;
  position: relative;
  overflow: show;

}

.Aborder {
  background-color: transparent;
  backdrop-filter: blur(20px);
  height: auto;
  margin:0 auto;
  border-radius: 10px;
  width: 600px;
  text-align: center;
  color: #ffffff;
}
.parent{
text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
